.signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.signup-form label {
    margin-bottom: 5px;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

.signup-form input[type="submit"] {
    background-color: #4CAF50;
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background-color: #45a049;
}

.signup-section {
    text-align: center;
    padding: 20px;
    background-color: #00ffe1;
}